@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Whisper&display=swap');

button {
        background-color: #80B918;
        color: #007F5F;
        font-weight: bold;
        border-radius: 0.5rem;
        width: 6rem;
        height: 2.75rem;
        border: 2px solid #007F5F;
}