@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Whisper&display=swap');

.user-card {
      color: #007F5F;
      padding: 1rem;
      border: 1px solid #D4D700;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 1rem
}

.user-card > h2 {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
}

.user-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
}

#username {
        font-family: "Whisper";
        font-size: 2.5rem;
        margin-top: auto;
        margin-bottom: -2rem;
        align-self: center;
}



.user-info > div {

        margin: 1px;
        display: flex;
        gap: 1rem;

        h2 {
                margin-top: auto;
                margin-bottom: auto;
        }

        h3 {
                margin-top: auto;
                margin-bottom: auto;
        }

        h4 {
                margin-top: auto;
                margin-bottom: auto;
        }
}

.userIDClass {
        margin-top: 0;
        align-self: center;
        margin: auto;
}

.admin-section {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        align-self: center;
        
}

.admin-section > div {
        display: flex;
        gap: 0.5rem;
        margin-left: 3rem;
}

.admin-section input {
        border-radius: 0.5rem;
        padding: 0.25rem;
        height: 1.5rem;
}



.animal-cards {
        align-self: center;
}